.compilatio-clear {
    clear: both;
}
/*
Compilatio document area :
*/
.compilatio-plagiarismreport {
    padding: 0 0 0 2px;
    border-radius: 3px;
    background-color: #f2f2f2;
    border: solid thin #e3e3e3;
    cursor: pointer;
}
.compilatio-plagiarismreport,
.compilatio-plagiarismreport a {
    font-size: 12px;
    text-align: center;
    line-height: 19px;
    font-weight: bold;
}
.compilatio-plagiarismreport .compilatio-error {
    color: #c0392b;
    line-height: 19px;
}
.compilatio-plagiarismreport a {
    color: #444;
}
.compilatio-plagiarismreport a:hover {
    color: #111;
    text-decoration: underline;
}
.compilatio-plagiarismreport-link,
.compilatio-plagiarismreport {
    width: 120px;
    height: 20px;
}
.compilatio-plagiarismreport-link {
    display: block;
    position: relative;
}
a.compilatio-plagiarismreport-link:hover {
    text-decoration: none;
}
a.compilatio-plagiarismreport-link span.link:hover {
    text-decoration: underline;
}
.compilatio-plagiarismreport .small-logo-compi {
    float: left;
}
.compilatio-plagiarismreport .float-right,
.compilatio-plagiarismreport .compilatio-similarity,
.compilatio-plagiarismreport .compilatio-similarity-image {
    float: right;
}
.compilatio-plagiarismreport img {
    vertical-align: bottom;
    padding-right: 2px;
    height: 18px;
}
.compilatio-prevsubmitted {
    font-size: 12px;
    line-height: normal;
}
/* Similarities */
.compilatio-similarity-green {
    color: #6ab35a;
}
.compilatio-similarity-orange {
    color: #f39c12;
}
.compilatio-similarity-red {
    color: #e7685a;
}
.compilatio-similarity-image {
    display: inline-block;
    padding: 0;
}
.compilatio-similarity .compilatio-percentage {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
}
.compilatio-similarity {
    font-weight: bold;
    display: inline-block;
    line-height: 18px;
    font-size: 18px;
    text-decoration: none;
}
/* Compilatio small logo*/
.small-logo-compi {
    display: inline-block;
    overflow: hidden;
    text-indent: -99999px;
    width: 25px;
    height: 19px;
    background: no-repeat scroll 0 0 transparent;
    background-size: 50px 19px;
    background-position: 0 0;
    -webkit-transition: background-position 0.5s; /* Safari */
    transition: background-position 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.11s;
}
.compilatio-plagiarismreport:hover .small-logo-compi {
    background-position: -25px 0;
}
/*
Head area in assignment
*/
#cmp-display-frame {
    position: fixed;
    margin-top: 70px;
    right: 3rem;
    border-radius: 4px;
    background-color: #F5F6F8;
    border: 1px solid #EBEBF0;
    padding: 0.5rem;
    z-index: 998;
    display: flex;
    cursor: pointer;
}

#cmp-display-frame > * {
    margin-top: auto;
    margin-bottom: auto;
}

#cmp-display-frame > img {
    height: 27px;
}

#cmp-bell {
    position: absolute;
    top: -8px;
    right: -7px;
    z-index:999;
}

#cmp-hide-frame {
    cursor: pointer;
    margin-left: auto;
}

.cmp-icon {
    margin: 2px;
    color: #616262;
    font-size: 1.75em !important;
}

.cmp-icon.active, .cmp-icon:hover, .cmp-icon:focus{
    color: #202121;
}

#compilatio-hide-area {
    float: right;
}
#compilatio-logo {
    width: 175px;
    cursor: pointer;
    margin-right: 0.5rem;
}
.compilatio-help {
    float: left;
}
#compi-help > p {
    margin-top: 15px;
}
.compilatio-help img {
    width: 24px;
}
.compilatio-greyBackgroundBorder {
    border-radius: 3px;
    background-color: #f2f2f2;
    border: solid thin #e3e3e3;
}
#compilatio-sommaire {
    display: inline-block;
    padding: 10px;
}
.compilatio-help-title {
    margin: 10px 0;
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;
    text-align: left;
}
.compilatio-help-content {
    color: #555;
    margin-bottom: 10px;
}
.compilatio-icon {
    color: #6D6D6D;
    font-size: 1.75em !important;
}
.compilatio-icon.active {
    color: #202121;
}
.compilatio-icon:hover {
    color: #303030;
}
.compilatio-icon:focus {
    color: #252525;
}
#compilatio-tabs {
    display: flex;
}

#compilatio-tabs > * {
    margin-top: auto;
    margin-bottom: auto;
}

#compilatio-tabs .compilatio-icon {
    margin: auto 0.5rem;
    cursor: pointer;
}
.compilatio-tabs-content {
    display: none;
}
#count-alerts {
    position: relative;
    top: 4px;
    left: -21px;
    background-color: #f00;
    color: #fff;
    border-radius: 20px;
    padding: 1px 4px;
    font-size: 11px;
    font-weight: bold;
}
.compilatio-button {
    margin: 0 0.25rem;
}
#compilatio-container {
    position: fixed;
    right: 3rem;
    z-index: 999;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #F5F6F8;
    border: 1px solid #EBEBF0;
    border-radius: 4px;
    margin: 70px 0 0.5rem 0;
    color: #444;
    max-width: 750px;
}
#compilatio-container h5 {
    text-align: left;
    margin: 10px 0;
}
ul#compilatio-help-items > li > strong {
    cursor: pointer;
}
ul#compilatio-help-items > li > div {
    display: none;
    margin-bottom: 15px;
}
#compilatio-programmed-analysis {
    text-align: center;
    font-style: italic;
    margin-top: 0.5rem;
}
/*!
 * CSS adapted from Bootstrap (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.compilatio-alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    color: #c09853;
}
.compilatio-alert > span > p {
    margin: 0;
}
.cmp-md {
    display: flex;
}
.cmp-md > i {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
}
.compilatio-alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.compilatio-alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.compilatio-alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
legend.compilatio_legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
/* Config activity */
.compilatio-after-input {
    margin-left: 10px;
}
.compilatio-reinit {
    font-size: 10px;
}
.compilatio-plagiarismreport-link:empty {
    display: none;
}
#compilatio-container ul {
    margin: 0 0 10px 25px;
}
.compilatio-area {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    position: relative;
    padding-top: 10px;
    margin-right: 11px;
}
.compilatio-library,
.compilatio-library-in,
.compilatio-library-out {
    width: 20px;
    height: 16px;
    background-size: cover;
}
.compilatio-library {
    background-image: url([[pix:plagiarism_compilatio|library]]);
}
.compilatio-library-in {
    background-image: url([[pix:plagiarism_compilatio|library-in]]);
}
.compilatio-library-out {
    background-image: url([[pix:plagiarism_compilatio|library-out]]);
}
.compilatio-library-in,
.compilatio-library-out {
    cursor: pointer;
}
#compi-update-progress {
    vertical-align: middle;
    margin: auto 10px;
}
#compi-home > p {
    margin-top: 15px;
}
.compi-alert {
    position: relative;
    top: -15px;
}
.compi-alert > img {
    width: 14px;
    position: relative;
}
.compi-migration {
    margin-top: 2em;
}