.cmp-box {
  background-color: #fff;
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
}

#cmp-stats h5, #cmp-stats h4 {
    font-weight: 500;
}

/* Colors */
.cmp-color-green {
    color: #38ba7d;
}

.cmp-bg-green {
    background-color: #38ba7d;
}

.cmp-color-orange {
    color: #f39c12;
}

.cmp-color-red {
    color: #f34541;
}

.cmp-color-primary {
    color: #006fbf;
}

.cmp-color-secondary {
    color: #494c4e;
}

/* Icon Spacing and Sizing */
.cmp-ml-10 {
    margin-left: 10px;
}
.cmp-ml-5 {
    margin-left: 5px;
}
.cmp-mr-10 {
    margin-right: 10px;
}
.cmp-icon-lg {
  font-size: 1.2em !important;
  vertical-align: middle;
}

/*
Compilatio frame area
*/
#cmp-logo {
    width: 250px;
    float: left;
    cursor: pointer;
}
#cmp-tabs .cmp-icon {
    margin-left: 1.5rem;
    display: inline;
    cursor: pointer;
}
.cmp-icon {
    margin: 2px;
    color: #616262;
}
.cmp-icon.active, .cmp-icon:hover, .cmp-icon:focus{
    color: #202121;
}

#cmp-tabs-separator {
  margin: 1rem 0;
  border-bottom: 2px solid #EBEBF0;
}
.cmp-tabs-content {
    display: none;
}

#cmp-update-progress {
  vertical-align: middle;
  margin: auto 10px;
}

#cmp-home > p, #cmp-help > p {
  margin-bottom: 0rem !important;
}

/* Notifications Badge */
#cmp-count-alerts {
  position: relative;
  top: -16px;
  left: -5px;
}

.cmp-badge {
    color: #fff;
    border-radius: 20px;
    padding: 3px 6px;
    font-weight: bold;
    font-size: 11px;
}
.cmp-badge-info {
    background-color: #006fbf;
}
.cmp-badge-danger {
    background-color: #dc3545;
}
.cmp-badge-success {
    background-color: #38ba7d;
}

#cmp-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 565px;
    padding: 15px;
    background-color: #F5F6F8;
    border: 1px solid #EBEBF0;
    border-radius: 4px;
    margin: 70px 5% 10px 5%;
    color: #444;
}

#cmp-planned-analyses {
    border-top: 2px solid #EBEBF0;
    text-align: center;
    font-style: italic;
    margin-top: 7px;
    padding-top: 5px;
}

.cmp-alert {
  display: flex;
  font-weight: bold;
  padding: 0.75rem;
  margin: 0.5rem;
  background-color: #fff;
  border-left: 6px solid #7f7f84;
  border-radius: 5px;
}
.cmp-alert-success {
  border-color: #38ba7d;
  color: #38ba7d;
}
.cmp-alert-info {
  border-color: #006fbf;
  color: #006fbf;
}
.cmp-alert-warning {
  border-color: #FEAF20;
  color: #FEAF20;
}
.cmp-alert-danger {
  border-color: #d73814;
  color: #d73814;
}
.cmp-alert-icon {
  margin-right: 1rem;
  margin-block: auto;
}


/* Stats */
.cmp-legend {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    border-bottom: 1px solid #e5e5e5;
}

/*
Compilatio document frame area 
*/
.cmp-area {
    display: flex;
    width: fit-content;
    -ms-align-items: center;
    align-items: center;
    margin-top: 10px;
    border: solid 2px;
    border-radius: 0.6rem;
    min-width: 275px;
}

.cmp-bg-error {
    background-color: #dc3545;
}
.cmp-bg-primary {
    background-color: #ced4da;
}

.cmp-border-error {
    border-color: #dc3545;
}
.cmp-border-primary {
    border-color: #ced4da;
}

.cmp-btn-error {
    color: #dc3545;
}
.cmp-btn-secondary {
    color: #494c4e;
}

.cmp-prevsubmitted {
    font-size: 12px;
    line-height: normal;
}

.cmp-clear {
    clear: both;
}

/* Indexing state button */
.cmp-library-in {
    background-color: white;
    color: rgb(110, 231, 183) !important;
}
.cmp-library-out {
    background-color: white;
    color: rgb(248, 113, 113) !important;
}
.cmp-library {
    cursor: pointer;
    margin: 0 10px 0 5px;
    display: inline-block;
    position: relative;
}
.cmp-library > i {
    position: absolute;
    top: 8px;
    left: 14px;
    font-size: 16px;
    color: lightgrey;
}

/* Compilatio buttons */
.cmp-btn, .cmp-btn-lg {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    padding: 0.25rem 1rem;
    font-size: .925rem;
    text-decoration: none;
    border-radius: 0.4rem;
    border: none;
}

.cmp-btn-doc {
    height: 30px;
    margin-right: 2px;
    width: 120px;
}

.cmp-btn-lg {
    float: right;
    margin: 0 0.5rem;
    padding: 0.35rem 1rem;
}
.cmp-btn-lg.disabled {
    opacity: 0.5;
    cursor: default;
}

a.cmp-btn-primary:hover {
  text-decoration: none;
  color: #494c4e;
}
.cmp-btn-primary {
    background-color: #ced4da;
    color: #494c4e;
    cursor: pointer;
    margin-left: auto;
}
.cmp-btn-primary:hover {
    background-color: #b8c1ca;
}

/* Similarities */
.cmp-similarity-green {
    color: #38ba7d;
}
.cmp-similarity-orange {
    color: #f39c12;
}
.cmp-similarity-red {
    color: #f34541;
}
.cmp-similarity {
    cursor: pointer;
    margin: 0 5px;
    height: 32px;
    line-height: 34px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    white-space: nowrap;
}

/* Compilatio small logo */
.cmp-small-logo {
    height: 22px;
    margin: 6px;
}